$backgroundColor: $emperor; 
$baseFontColor: $grayNurse;
$colorFordisabledDate: $gray;
$colorForDateNow: $havelockBlue;
$borderAroundDate: $black;
$fillForCurrentDate: $steelBlue;
$colorOfLineSeparator: $boulder;