$backgroundColor: $emperor; 
$baseFontColor: $grayNurse;
$colorFordisabledDate: $gray;
$colorForDateNow: $havelockBlue;
$borderInDayToday: $black;
$fillForCurrentDate: $steelBlue;
$colorOfLineSeparator: $boulder;
$borderAroundDateDayToday: $cornflowerBlue;