@mixin day-container {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    line-height: 35px;
    margin: 0 auto;
}

@mixin day-container-item {
    width: 30px;
    margin: 0;
    padding: 7px;
    border: 2px solid transparent;
}

@mixin psevdoButton {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    
}