$emperor: #545454;
$grayNurse: #F2F3F2;
$gray: #8F8F8F;
$havelockBlue: #4B96D4;
$steelBlue: rgb(1, 107, 255);
$black: #000000;
$boulder:#777777;
$cornflowerBlue:#add8e6;

$font: 'Roboto', Arial, Helvetica, sans-serif;