.footer {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: #4d5055;
    height: 400px;
    margin-top: 160px;
    position: relative;
    color: #ffffff;
}

.footer::after {
    content: 'SK';
    position: absolute;
    top: -30%;
    left: 35%;
    font-size: 500px;
    opacity: 0.1;
    color: #000000;
    font-family: 'din-2014-bold', Arial, Helvetica, sans-serif;
}

.footer__logoLink {
    display: block;
    background-color: #b81c2d;
    padding: 10px 30px;
    text-align: center;
    outline: 2px dashed rgba(0, 0, 0, 0.2);
    outline-offset: -10px;

}

.footer__brand {
    font-family: 'din-2014', Arial, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 55px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    margin: 10px;
}

.footer__slogan {
    font-size: 18px;
}

.footer__menu {
    display: flex;
    position: relative;
    z-index: 2;
}
