.card {
    position: relative;
    margin-left: 20px;
    background-color: gray;
    padding: 20px;
}

.animalInfo {
    display: none;
}

.card:hover .animalInfo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: bisque;
    width: 100%;
    font-size: 12px;
    height: 95%;
    padding-top: 20px;
}

.cart {
    position: absolute;
    bottom: -17px;
    left: 40%;
    font-size: 20px;
    background-color: aqua;
    padding: 5px;
    border-radius: 50%;
}

.wrapp {
    display: flex;
}


img {
    max-width: 200px;
}

.grid-container {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.language {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}